body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d83939;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}
.he{
    text-align: center;
    font-size: 500%;
    .me{
        font: size 50px ;
}


header .logo 
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: ;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.meta{font-size: 500%;}
.meta{font-style: italic;}
